.courses-page {
  padding: 2rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses-page h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  margin-top: 2rem; 
}

.course-controls {
  margin-bottom: 1rem;
}

.course-controls .btn {
  margin-right: 0.5rem;
}

.btn-primary {
  color: #fff;
  background-color: #6ab399; 
  border-color: #6ab399; 
}

.btn-primary:hover {
  color: #fff;
  background-color: #5a9a85; 
  border-color: #5a9a85; 
}

.btn-secondary {
  color: #fff;
  background-color: #1976D2; 
  border-color: #1976D2; 
}

.btn-secondary:hover {
  color: #fff;
  background-color: #155a8a; 
  border-color: #155a8a; 
}

.btn-danger {
  color: #fff;
  background-color: #F44336; 
  border-color: #F44336; 
}

.btn-danger:hover {
  color: #fff;
  background-color: #d32f2f; 
  border-color: #d32f2f; 
}

/* список карточек */
.course-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* кнопки действий внутри карточки */
.course-action-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

/* карточка курса */
.course-card {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem 0;
  width: 300px;
}

.course-card h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  margin-top: 0;
}

.course-card p {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}