.student-courses-page {
  padding: 2rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-courses-page h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  margin-top: 2rem; 
}

.student-courses-page p {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

/* Card style for each course */
.course-card {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem 0;
  width: 300px;
}

.course-card h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  margin-top: 0;
}

.course-card p {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}

.course-card ul {
  margin-top: 1rem;
  padding-left: 1rem;
}

.course-card ul li {
  margin-bottom: 0.5rem;
}